{% if tasks|length > 0 %}
    <table>
        <tr>
            <th>Tarea</th>
            <th>Prioridad</th>
            <th>Horas Presupuestadas</th>
            <th>Acciones</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.title }}</td>
                <td>
                    {% if task.priority == 'High' %} {{ 'Alta'}} {% endif %}
                    {% if task.priority == 'Medium' %} {{ 'Media'}} {% endif %}
                    {% if task.priority == 'Low' %} {{ 'Baja'}} {% endif %}
                </td>
                <td>{{ task.hours }}</td>
                <td class="buttons">
                    <a href="{{ path('task_detail', {'id':task.id}) }}" class="btn-show">Ver</a>
                    <a href="{{ path('edit', {'id':task.id}) }}" class="btn-edit">Editar</a>
                    <a href="{{ path('delete', {'id':task.id}) }}" class="btn-delete">Eliminar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <strong>No hay tareas disponibles en este momento</strong>
{% endif %}
